/* Impostazioni generali */

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #1EBEA5;
  z-index: 0;
  height: 15vh;
  width: 100%;
}

#container {
  background-color: #D9DBD4;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-around;
}

main {
  z-index: 10;
  width: 80%;
  height: 90vh;
  position: fixed;
  top: 50px;
  background-color: white;
}

/* Mi occupo della parte sinistra */


#left {
  width: 25%;
  height: 100%;
  float: left;
}

.head {
  width: 100%;
  height: 8%;
  background-color: #EEEEEE;
}

#left .head {
  border-right: 1px black solid;
}

#notifica {
  width: 100%;
  height: 10%;
  background-color: #9DE1FE;
}

#searchbar {
  width : 100%;
  height: 6%;
  background-color: white;
  border-bottom: 1px black solid;
  background-color: #EEEEEE;
  padding-top: 4px;
}


#inputbar {
  width: 95%;
  height: 70%;
  border-radius: 70px;
  margin: auto;
}

#searchbar input {
  width: 100%;
  height: 80%;
  padding: 20px;
}

#friendlist {
  height: 76%;
  width: 100%;
  overflow-y: scroll;
}

.friend {
    height: 80px;
    width: 100%;
    border-bottom: gray 1px solid;
}

/* Mi occupo della parte destra */

#right {
  width: 75%;
  height: 100%;
  float: right;
  position: relative;
}

#center {
  background-image: url("img/back.png");
  width: 100%;
  height: 84%;
  overflow-y: scroll;
  /* display: flex; */
}

.theyMsg {
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 30px;
  padding: 20px;
  width: 200px;
  margin: 20px 0px 0px 20px;
  /* display: flex; */
  /* justify-content: flex-start; */
  position: relative;
}

.message {
  background-color: #DCF8C6;
  color: black;
  font-size: 16px;
  border-radius: 30px;
  padding: 20px;
  width: 200px;
  margin: 20px 20px 0px 0px;
  /* display: flex; */
  /* justify-content: flex-start; */
  margin-left: 75%;
  position: relative;
}

.holder {
  width: 100%;
  height: auto;
}

.foot {
  width: 100%;
  height: 8%;
  display: flex;
  background-color: #EFEFEF;
  bottom: 0;
  position: absolute;
}

.foot input {
  width: 75%;
  height: 60%;
  margin: auto;
}

#sendMsg {
  position: absolute;
  right: 10%;
  top: 40%;
}





/* Mi occupo delle altre funzionalita tipo hover  */

.friend:hover {
  background-color: rgb(220,220,220); opacity: 1;
}

.friend img, .head img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  float: left;
  padding: 10px;
  display: block;
  margin: 10px 0 0 0;
  text-align: center;
}

.head img {
  margin: 0;
}

.friend h2 {
  display: block;
  padding: 5% 0 0 0;
}

#template {
  display: none;
}

.chat {
  display: none;
}

.eliminato {
  display: none;
  width: 170px;
  height: 40px;
  background-color: lightgray;
  z-index: 10;
  font-size: 18px;
  position: absolute;
  bottom: -70%;
  left: 10px;
}

.active {
  display: block;
}
